extend layout
block content
    p
        table
            thead
                tr: th Things 
            tbody
                each item in items
                    tr(id='tr_#{item.id}')
                        td=item.id
                        td=item.name
                        td=item.modelId
                        td=item.location
                        td=JSON.stringify(item.connectivity)
                        td=item.controllers
                        td=JSON.stringify(item.credentials)
                        td=item.type
                        td
                            a(href="javascript:void(0)" onclick="deleteItem(#{item.id})") Delete
    p

